<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Configure the Mongo Server -->
	<context:annotation-config />
	<bean id="uri" class="com.mongodb.MongoClientURI">
		<constructor-arg name="uri"
			value="mongodb://root:user12345@ds035006.mlab.com:35006/mongo_tester_db" />
	</bean>
	
	<bean id="mongo" class="com.mongodb.MongoClient">
		<constructor-arg name="uri" ref="uri" />
	</bean>
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg name="databaseName" value="mongo_tester_db" />
	</bean>
	
	<bean  class="tel_ran.persons.model.dao.PersonsMongoDb"> </bean>

	<mongo:repositories base-package="tel_ran.persons.repo"></mongo:repositories>


</beans>